{% extends 'base.html' %}
{% block content %}
{% load mathfilters %}
<div class="container mt-5 mb-5">
    <h1>BOARD</h1>
    <form>
        <div class="row mt-4 mb-4">
            <div class="col-lg-2">
                <select name="cate" class="form-select">
                    <option value="subject" {% if cate == 'subject'%}selected{% endif %}>제목</option>
                    <option value="writer" {% if cate == 'writer'%}selected{% endif %}>작성자</option>
                    <option value="content" {% if cate == 'content'%}selected{% endif %}>내용</option>
                </select>
            </div>
            <div class="col-lg-9">
                <input type="search" name="kw" value="{{kw}}" class="form-control">
            </div>
            <div class="col-lg-1">
                <button class="btn btn-primary">search</button>
            </div>
        </div>
    </form>
    <table class="table mt-3 table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Subject</th>
                <th scope="col">Writer</th>
                <th scope="col">Summary</th>
                <th scope="col">Hit</th>
            </tr>
        </thead>
        <tbody>
            {% if con %}
                {% for i in con %}
                    <tr>
                        <th scope="row">{{forloop.counter}}</th>
                        <td>
                            <a href="{% url 'board:detail' i.id %}">{{i.subject}}</a>
                            {% if i.reply_set.all.count %}
                                <sup style="color: red; font-weight: bolder;">[{{ i.reply_set.all.count }}]</sup>
                            {% endif %}
                        </td>
                        {%if user.username == i.writer%}
                            <td><mark>{{i.writer}}</mark></td>
                        {% else %}
                            <td>{{i.writer}}</td>
                        {% endif %}
                        <td>{{i.summary}}</td>
                        <td>{{ i.up.all.count }}</td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <th colspan="5">No Contents</th>
                </tr>
            {% endif %}
        </tbody>
    </table>
    <div class="text-end">
        <a href="{% url 'board:create' %}"><button class="bnt btn-primary">write</button></a>
    </div>

    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            {% if con.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="{% url 'board:index'%}?page=1&kw={{kw}}&cate={{cate}}"> << </a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="{% url 'board:index'%}?page={{con.previous_page_number}}&kw={{kw}}&cate={{cate}}"> < </a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#"> << </a>
                </li>
                <li class="page-item disabled">
                    <a class="page-link" href="#"> < </a>
                </li>
            {% endif %}

            {% for i in con.paginator.page_range %}
                {% if i >= con.number|sub:1|intdiv:5|mul:5|add:1 and i <= con.number|sub:1|intdiv:5|mul:5|add:5 %}
                    {% if con.number == i %}
                        <li class="page-item active"><a class="page-link" href="{% url 'board:index'%}?page={{i}}&kw={{kw}}&cate={{cate}}">{{i}}</a></li>
                    {% else %}  
                        <li class="page-item"><a class="page-link" href="{% url 'board:index'%}?page={{i}}&kw={{kw}}&cate={{cate}}">{{i}}</a></li>  
                    {% endif %}   
                {% endif %} 
            {% endfor %}

            {% if con.has_next %}
                <li class="page-item">
                    <a class="page-link" href="{% url 'board:index'%}?page={{con.next_page_number}}&kw={{kw}}&cate={{cate}}"> > </a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="{% url 'board:index'%}?page={{con.paginator.num_pages}}&kw={{kw}}&cate={{cate}}"> >> </a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#"> > </a>
                </li>
                <li class="page-item disabled">
                    <a class="page-link" href="#"> >> </a>
                </li>
            {% endif %}
        </ul>
    </nav>


</div>
{% endblock %}