{% extends 'base.html' %}
{% block content %}
<div class="container mt-5 mb-5">
    <h1>board update</h1>
    <form method="POST">
        {% csrf_token %}
        <div class="mb-3 mt-4">
            <label for="exampleInputEmail1" class="form-label">Subject</label>
            <input type="text" value={{con.subject}} name="subject" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">writer</label>
            <input type="text" value={{con.writer}} class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>                
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">content</label>
            <textarea name="content" class="form-control">{{con.content}}</textarea>
        </div>

        <div class="text-end mt-3">
            <button type="submit" class="btn btn-primary">update</button>
        </div>
    </form>
</div>
{% endblock %}
